.sideBar{
  background-color: #fff;
  width: 20%;

  .selectBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    height: 30%;
    border-bottom: 1px solid #E0E0E0;

    select{
      background-color: #FAFAFA;
      border-radius: 4px;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      width: 200px;
      text-align-last:center;
      margin: 10px 0 ;  
      background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    appearance: none;
    };
    p{
      margin-top: 10px;
      font-size: 20px;
      span{
        margin: 0 5px;
        font-size: 25px;
        color: #1EB66F;
      }
    }
  }

  .listBlock{ 
    height: 70%;
    overflow: scroll;
    color: #A1A1A1;
    .list{
      border-bottom: 1px solid #E0E0E0;
      padding: 10px 15px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .title{
        display: flex;
        justify-content: space-between;
        h2{
          color: #7D7D7D;
          font-weight: bold;
        }
      }
      .addr{
        font-size: 15px;
      }
      .tel{
        font-size: 15px;
        a{
          color: #7D7D7D;
          text-decoration: none;
        }
      }
      .maskNum{
        width: 100%;
        display: flex;
        span{
          color: #fff;
          width: 100%;
          display: flex;
          justify-content: space-around;
          padding: 5px 0;
        }
        .adult{
          background-color: #1EB66F;
        }
        .child{
          background-color: #F9A34A;
        }
      }
      
    }
  }
}